{{ '{% extends "' ~ layout ~ '" %}' }}

{{ '{% block title %}' ~ "{{ '%entity% list'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" ~ '{% endblock %}' }}

{%- if withSort %}

{{ "{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href=\"{{ path('"~ route_name_prefix ~"_sort', {field: field, type: 'ASC'}) }}\">{{ label }} <i class=\"fa fa-sort-down\"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href=\"{{ path('"~ route_name_prefix ~"_sort', {field: field, type: 'DESC'}) }}\">{{ label }} <i class=\"fa fa-sort-up\"></i></a>
            {% endif %}
        {% else %}
            <a href=\"{{ path('"~ route_name_prefix ~"_sort', {field: field, type: 'ASC'}) }}\">{{ label }} <i class=\"fa fa-sort\"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}" }}

{{ "{% from _self import thead %}" }}

{% endif -%}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}
    <h1>{{ "{{ '%entity% list'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" }}</h1>

    {% if withFilter -%}
    {{ "{% include '"~ dest_bundle ~":"~ entity ~":filter.html.twig' with {form: form} %}" }}
    {% endif %}

    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th scope="col">
                {%- if withSort -%}
                {{ "{{ thead('" ~ entity|lower ~"', '"~ field ~"', '"~ field|replace({'_': ' '})|capitalize ~"') }}" }}
                {%- else -%}
                {{ field|replace({'_': ' '})|capitalize }}
                {%- endif -%}
                </th>

            {%- endfor %}

                <th scope="col">{{ "{{ 'Actions'|trans({}, 'admin') }}" }}</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for '~ entity|lower ~' in ' ~ (usePaginator ? 'paginator' : 'entities') ~ ' %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', {id: "~ entity|lower ~".id}) }}" }}">{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

            {%- elseif metadata.type == 'date' %}

                <td>{{ '{% if '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' %}{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d\') }}{% endif %}' }}</td>

            {%- elseif metadata.type == 'datetime' %}

                <td>{{ '{% if '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' %}{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type == 'datetimetz' %}

                <td>{{ '{% if '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' %}{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s P\') }}{% endif %}' }}</td>

            {%- elseif metadata.type == 'time' %}

                <td>{{ '{% if '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' %}{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type == 'relation_many' %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|join(\', \') }}' }}</td>

            {%- elseif metadata.type == 'boolean' %}

                <td>{{ '{% if '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' %}<i class="fa fa-check"></i>{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    {%- include "crud/views/others/actions.html.twig.twig" %}
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

    {% if usePaginator -%}
    {{ '{{ knp_pagination_render(paginator) }}' }}
    {%- endif %}

    {% if 'new' in actions %}

    <ul class="new_entry list-unstyled">
        <li>
            <a class="btn btn-info" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
                <i class="fa fa-plus"></i> {{ "{{ 'Create a new entry'|trans({}, 'admin') }}" }}
            </a>
        </li>
    </ul>
    {% endif %}

{{ '{% endblock %}' }}
