{{ '{% extends "' ~ layout ~ '" %}' }}

{{ '{% block title %}' ~ entity ~ ' list{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}
    <h1>{{ entity }} list</h1>

    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th scope="col">{{ field|replace({'_': ' '})|capitalize }}</th>

            {%- endfor %}

                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for '~ entity|lower ~' in ' ~ (usePaginator ? 'paginator' : 'entities') ~ ' %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', {id: "~ entity|lower ~".id}) }}" }}">{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

            {%- elseif metadata.type == 'date' %}

                <td>{{ '{% if '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' %}{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d\') }}{% endif %}' }}</td>

            {%- elseif metadata.type == 'datetime' %}

                <td>{{ '{% if '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' %}{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type == 'relation_many' %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|join(\', \') }}' }}</td>

            {%- else %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td>
                    {%- include "views/others/actions.html.twig" %}

                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

    {% if usePaginator %}

    {{ '{{ knp_pagination_render(paginator) }}' }}
    {% endif %}

    {% if 'new' in actions %}

    <ul class="new_entry">
        <li>
            <a class="btn btn-info" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
                <i class="icon-plus"></i> Create a new entry
            </a>
        </li>
    </ul>
    {% endif %}

{{ '{% endblock %}' }}