{{ '{% extends "' ~ layout ~ '" %}' }}
{% if theme %}

{{ "{% form_theme form '"~ theme ~"' %}" }}
{% endif %}

{{ '{% block title %}' ~ "{{ '%entity% creation'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" ~ '{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}
    <h1>{{ "{{ '%entity% creation'|trans({'%entity%': '"~ entity ~"'}, 'admin') }}" }}</h1>

    <form action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        {{ "{{ form_widget(form) }}" }}
        <p>
            <button class="btn btn-primary" type="submit">{{ "{{ 'Create'|trans({}, 'admin') }}" }}</button>
        </p>
    </form>

    {% set hide_edit, hide_delete = true, true %}
    {% include 'views/others/record_actions.html.twig' %}

{{ '{% endblock %}' }}