{{ '{% extends "' ~ layout ~ '" %}' }}

{{ '{% block title %}' ~ entity ~ '{% endblock %}' }}

{{ '{% block ' ~ bodyBlock ~ ' %}' }}
    <h1>{{ entity }}</h1>

    <table class="table table-hover record_properties">
        <tbody>
        {%- for field, metadata in fields %}

            <tr>
                <th scope="row">{{ field|replace({'_': ' '})|capitalize }}</th>

            {%- if metadata.type == 'date' %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d\') }}' }}</td>

            {%- elseif metadata.type == 'datetime' %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}</td>

            {%- elseif metadata.type == 'datetimetz' %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s P\') }}' }}</td>

            {%- elseif metadata.type == 'time' %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|date(\'H:i:s\') }}' }}</td>

            {%- elseif metadata.type == 'relation_many' %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~'|join(\', \') }}' }}</td>

            {%- elseif metadata.type == 'boolean' %}

                <td>{{ '{% if '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' %}<i class="fa fa-check-square-o"></i>{% else %}<i class="fa fa-square-o"></i>{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ '~ entity|lower ~'.'~ field|replace({'_': ''}) ~' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>

    {% set hide_edit, hide_delete = false, false %}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}

{{ '{% endblock %}' }}
